<!DOCTYPE html>
<html>
  <head>
    <title>Rendezvous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Rendezvous" />
    <meta property="og:image" content="<%= image_url('rendezvous.gif') %>" />
    <meta 
        property="og:description" 
        content="A Fullstack clone of Meetup, a social platform used to network people of similar interests and hobbies." 
    />
    <meta 
        property="og:url" 
        content="http://rendezvous-meetup.herokuapp.com/#/" 
    />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
<link 
    rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
    crossorigin="anonymous">

  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
